@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #149dcc;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #149dcc;
  border-bottom-color: #149dcc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #149dcc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23149dcc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-smaAHK6AZL {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaAHK6AZL p {
  color: #767676;
}
.cid-smaAHK6AZL .mbr-section-subtitle {
  color: #767676;
}
.cid-smaAHK6AZL .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaAHK6AZL .panel-group {
  width: 100%;
}
.cid-smaAHK6AZL .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaAHK6AZL .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaAHK6AZL .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaAHK6AZL .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaAHK6AZL .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaAHK6AZL .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaAHK6AZL .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaAHK6AZL .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaAHK6AZL .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaAHK6AZL .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaAHK6AZL .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaC8cbaXw {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaC8cbaXw p {
  color: #767676;
}
.cid-smaC8cbaXw .mbr-section-subtitle {
  color: #767676;
}
.cid-smaC8cbaXw .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaC8cbaXw .panel-group {
  width: 100%;
}
.cid-smaC8cbaXw .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaC8cbaXw .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaC8cbaXw .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaC8cbaXw .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaC8cbaXw .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaC8cbaXw .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaC8cbaXw .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaC8cbaXw .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaC8cbaXw .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaC8cbaXw .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaC8cbaXw .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaCMaTSIR {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaCMaTSIR p {
  color: #767676;
}
.cid-smaCMaTSIR .mbr-section-subtitle {
  color: #767676;
}
.cid-smaCMaTSIR .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaCMaTSIR .panel-group {
  width: 100%;
}
.cid-smaCMaTSIR .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaCMaTSIR .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaCMaTSIR .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaCMaTSIR .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaCMaTSIR .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaCMaTSIR .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaCMaTSIR .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaCMaTSIR .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaCMaTSIR .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaCMaTSIR .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaCMaTSIR .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaDpo5zH9 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaDpo5zH9 p {
  color: #767676;
}
.cid-smaDpo5zH9 .mbr-section-subtitle {
  color: #767676;
}
.cid-smaDpo5zH9 .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaDpo5zH9 .panel-group {
  width: 100%;
}
.cid-smaDpo5zH9 .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaDpo5zH9 .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaDpo5zH9 .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaDpo5zH9 .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaDpo5zH9 .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaDpo5zH9 .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaDpo5zH9 .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaDpo5zH9 .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaDpo5zH9 .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaDpo5zH9 .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaDpo5zH9 .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaDZ8xZVT {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaDZ8xZVT p {
  color: #767676;
}
.cid-smaDZ8xZVT .mbr-section-subtitle {
  color: #767676;
}
.cid-smaDZ8xZVT .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaDZ8xZVT .panel-group {
  width: 100%;
}
.cid-smaDZ8xZVT .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaDZ8xZVT .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaDZ8xZVT .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaDZ8xZVT .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaDZ8xZVT .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaDZ8xZVT .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaDZ8xZVT .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaDZ8xZVT .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaDZ8xZVT .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaDZ8xZVT .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaDZ8xZVT .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaEov4kc6 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaEov4kc6 p {
  color: #767676;
}
.cid-smaEov4kc6 .mbr-section-subtitle {
  color: #767676;
}
.cid-smaEov4kc6 .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaEov4kc6 .panel-group {
  width: 100%;
}
.cid-smaEov4kc6 .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaEov4kc6 .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaEov4kc6 .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaEov4kc6 .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaEov4kc6 .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaEov4kc6 .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaEov4kc6 .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaEov4kc6 .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaEov4kc6 .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaEov4kc6 .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaEov4kc6 .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaEQNGI6S {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaEQNGI6S p {
  color: #767676;
}
.cid-smaEQNGI6S .mbr-section-subtitle {
  color: #767676;
}
.cid-smaEQNGI6S .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaEQNGI6S .panel-group {
  width: 100%;
}
.cid-smaEQNGI6S .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaEQNGI6S .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaEQNGI6S .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaEQNGI6S .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaEQNGI6S .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaEQNGI6S .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaEQNGI6S .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaEQNGI6S .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaEQNGI6S .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaEQNGI6S .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaEQNGI6S .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaFmS33i2 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaFmS33i2 p {
  color: #767676;
}
.cid-smaFmS33i2 .mbr-section-subtitle {
  color: #767676;
}
.cid-smaFmS33i2 .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaFmS33i2 .panel-group {
  width: 100%;
}
.cid-smaFmS33i2 .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaFmS33i2 .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaFmS33i2 .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaFmS33i2 .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaFmS33i2 .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaFmS33i2 .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaFmS33i2 .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaFmS33i2 .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaFmS33i2 .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaFmS33i2 .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaFmS33i2 .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaGczEqoo {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaGczEqoo p {
  color: #767676;
}
.cid-smaGczEqoo .mbr-section-subtitle {
  color: #767676;
}
.cid-smaGczEqoo .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaGczEqoo .panel-group {
  width: 100%;
}
.cid-smaGczEqoo .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaGczEqoo .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaGczEqoo .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaGczEqoo .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaGczEqoo .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaGczEqoo .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaGczEqoo .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaGczEqoo .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaGczEqoo .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaGczEqoo .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaGczEqoo .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaGJN8nbf {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaGJN8nbf p {
  color: #767676;
}
.cid-smaGJN8nbf .mbr-section-subtitle {
  color: #767676;
}
.cid-smaGJN8nbf .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaGJN8nbf .panel-group {
  width: 100%;
}
.cid-smaGJN8nbf .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaGJN8nbf .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaGJN8nbf .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaGJN8nbf .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaGJN8nbf .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaGJN8nbf .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaGJN8nbf .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaGJN8nbf .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaGJN8nbf .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaGJN8nbf .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaGJN8nbf .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaHp05GmK {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaHp05GmK p {
  color: #767676;
}
.cid-smaHp05GmK .mbr-section-subtitle {
  color: #767676;
}
.cid-smaHp05GmK .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaHp05GmK .panel-group {
  width: 100%;
}
.cid-smaHp05GmK .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaHp05GmK .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaHp05GmK .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaHp05GmK .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaHp05GmK .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaHp05GmK .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaHp05GmK .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaHp05GmK .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaHp05GmK .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaHp05GmK .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaHp05GmK .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaHNmXtP3 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaHNmXtP3 p {
  color: #767676;
}
.cid-smaHNmXtP3 .mbr-section-subtitle {
  color: #767676;
}
.cid-smaHNmXtP3 .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaHNmXtP3 .panel-group {
  width: 100%;
}
.cid-smaHNmXtP3 .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaHNmXtP3 .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaHNmXtP3 .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaHNmXtP3 .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaHNmXtP3 .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaHNmXtP3 .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaHNmXtP3 .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaHNmXtP3 .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaHNmXtP3 .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaHNmXtP3 .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaHNmXtP3 .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaI4X4AWU {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaI4X4AWU p {
  color: #767676;
}
.cid-smaI4X4AWU .mbr-section-subtitle {
  color: #767676;
}
.cid-smaI4X4AWU .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaI4X4AWU .panel-group {
  width: 100%;
}
.cid-smaI4X4AWU .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaI4X4AWU .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaI4X4AWU .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaI4X4AWU .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaI4X4AWU .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaI4X4AWU .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaI4X4AWU .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaI4X4AWU .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaI4X4AWU .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaI4X4AWU .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaI4X4AWU .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaIsyObof {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaIsyObof p {
  color: #767676;
}
.cid-smaIsyObof .mbr-section-subtitle {
  color: #767676;
}
.cid-smaIsyObof .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaIsyObof .panel-group {
  width: 100%;
}
.cid-smaIsyObof .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaIsyObof .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaIsyObof .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaIsyObof .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaIsyObof .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaIsyObof .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaIsyObof .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaIsyObof .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaIsyObof .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaIsyObof .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaIsyObof .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaILEp8T3 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaILEp8T3 p {
  color: #767676;
}
.cid-smaILEp8T3 .mbr-section-subtitle {
  color: #767676;
}
.cid-smaILEp8T3 .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaILEp8T3 .panel-group {
  width: 100%;
}
.cid-smaILEp8T3 .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaILEp8T3 .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaILEp8T3 .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaILEp8T3 .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaILEp8T3 .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaILEp8T3 .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaILEp8T3 .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaILEp8T3 .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaILEp8T3 .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaILEp8T3 .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaILEp8T3 .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaJ33qxoY {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaJ33qxoY p {
  color: #767676;
}
.cid-smaJ33qxoY .mbr-section-subtitle {
  color: #767676;
}
.cid-smaJ33qxoY .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaJ33qxoY .panel-group {
  width: 100%;
}
.cid-smaJ33qxoY .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaJ33qxoY .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaJ33qxoY .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaJ33qxoY .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaJ33qxoY .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaJ33qxoY .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaJ33qxoY .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaJ33qxoY .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaJ33qxoY .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaJ33qxoY .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaJ33qxoY .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaJHgBXwp {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaJHgBXwp p {
  color: #767676;
}
.cid-smaJHgBXwp .mbr-section-subtitle {
  color: #767676;
}
.cid-smaJHgBXwp .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaJHgBXwp .panel-group {
  width: 100%;
}
.cid-smaJHgBXwp .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaJHgBXwp .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaJHgBXwp .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaJHgBXwp .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaJHgBXwp .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaJHgBXwp .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaJHgBXwp .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaJHgBXwp .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaJHgBXwp .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaJHgBXwp .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaJHgBXwp .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaK5oCGdj {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaK5oCGdj p {
  color: #767676;
}
.cid-smaK5oCGdj .mbr-section-subtitle {
  color: #767676;
}
.cid-smaK5oCGdj .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaK5oCGdj .panel-group {
  width: 100%;
}
.cid-smaK5oCGdj .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaK5oCGdj .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaK5oCGdj .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaK5oCGdj .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaK5oCGdj .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaK5oCGdj .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaK5oCGdj .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaK5oCGdj .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaK5oCGdj .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaK5oCGdj .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaK5oCGdj .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaKAVKU1q {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaKAVKU1q p {
  color: #767676;
}
.cid-smaKAVKU1q .mbr-section-subtitle {
  color: #767676;
}
.cid-smaKAVKU1q .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaKAVKU1q .panel-group {
  width: 100%;
}
.cid-smaKAVKU1q .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaKAVKU1q .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaKAVKU1q .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaKAVKU1q .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaKAVKU1q .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaKAVKU1q .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaKAVKU1q .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaKAVKU1q .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaKAVKU1q .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaKAVKU1q .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaKAVKU1q .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaKZYN5NS {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaKZYN5NS p {
  color: #767676;
}
.cid-smaKZYN5NS .mbr-section-subtitle {
  color: #767676;
}
.cid-smaKZYN5NS .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaKZYN5NS .panel-group {
  width: 100%;
}
.cid-smaKZYN5NS .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaKZYN5NS .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaKZYN5NS .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaKZYN5NS .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaKZYN5NS .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaKZYN5NS .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaKZYN5NS .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaKZYN5NS .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaKZYN5NS .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaKZYN5NS .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaKZYN5NS .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaLyDcVUS {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaLyDcVUS p {
  color: #767676;
}
.cid-smaLyDcVUS .mbr-section-subtitle {
  color: #767676;
}
.cid-smaLyDcVUS .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaLyDcVUS .panel-group {
  width: 100%;
}
.cid-smaLyDcVUS .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaLyDcVUS .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaLyDcVUS .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaLyDcVUS .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaLyDcVUS .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaLyDcVUS .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaLyDcVUS .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaLyDcVUS .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaLyDcVUS .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaLyDcVUS .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaLyDcVUS .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaMyWq0H6 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaMyWq0H6 p {
  color: #767676;
}
.cid-smaMyWq0H6 .mbr-section-subtitle {
  color: #767676;
}
.cid-smaMyWq0H6 .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaMyWq0H6 .panel-group {
  width: 100%;
}
.cid-smaMyWq0H6 .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaMyWq0H6 .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaMyWq0H6 .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaMyWq0H6 .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaMyWq0H6 .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaMyWq0H6 .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaMyWq0H6 .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaMyWq0H6 .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaMyWq0H6 .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaMyWq0H6 .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaMyWq0H6 .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaOObRyFb {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaOObRyFb p {
  color: #767676;
}
.cid-smaOObRyFb .mbr-section-subtitle {
  color: #767676;
}
.cid-smaOObRyFb .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaOObRyFb .panel-group {
  width: 100%;
}
.cid-smaOObRyFb .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaOObRyFb .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaOObRyFb .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaOObRyFb .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaOObRyFb .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaOObRyFb .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaOObRyFb .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaOObRyFb .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaOObRyFb .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaOObRyFb .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaOObRyFb .panel-text {
  text-align: center;
  color: #000000;
}
.cid-smaQ3XyFfs {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-smaQ3XyFfs .mbr-section-subtitle {
  color: #767676;
}
.cid-smaPJdS8Z1 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-smaPJdS8Z1 p {
  color: #767676;
}
.cid-smaPJdS8Z1 .mbr-section-subtitle {
  color: #767676;
}
.cid-smaPJdS8Z1 .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-smaPJdS8Z1 .panel-group {
  width: 100%;
}
.cid-smaPJdS8Z1 .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-smaPJdS8Z1 .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-smaPJdS8Z1 .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-smaPJdS8Z1 .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-smaPJdS8Z1 .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-smaPJdS8Z1 .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-smaPJdS8Z1 .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-smaPJdS8Z1 .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-smaPJdS8Z1 .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-smaPJdS8Z1 .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-smaPJdS8Z1 .panel-text {
  text-align: center;
  color: #000000;
}
